{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <small>{{ post.pub_date|datetimeformat('MMMM d, y') }}</small>
  {% if post.toc %}
  <h4>Table Of Contents</h4>
<ul class="toc">
{% for item in this.body.toc recursive %}
  <li><a href="#{{ item.anchor }}">{{ item.title }}</a>{%
   if item.children %}<ul>{{ loop(item.children) }}</ul>{% endif %}
{% endfor %}
</ul>
  {% endif %}
  {{ post.body }}
  </div>
{% endmacro %}

{% macro render_blog_list(post, from_index=false) %}
  {% if from_index %}
    <li>{{ post.pub_date }} » <a href="{{ post|url }}">{{ post.title }}</a></li>
  {% else %}
    <li>{{ post.pub_date }} » {{ post.title }}</li>
  {% endif %}
{% endmacro %}
