<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=1">
  <meta name="author" content="Alex Johnstone">
  <meta property="og:type" content="website" />
  {% block extrahead %}{% endblock %}
  <link rel="stylesheet" href="{{ '/static/style.css'|asseturl }}">
  <link rel="shortcut icon" href="{{ '/static/favicon.png'|url }}">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <link rel="alternate" type="application/atom+xml" title="alexjj.com - Feed" href="{{ '/blog@atom/main'|url(external=True) }}">
  <title>alexjj.com - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
  <header>
    <div class="nav">
        <a href="{{ '/'|url }}"><img class ="logo" src="{{ '/static/logo.png'|url }}" alt="meow" height="100px"></a>
        <ul class="navbar-list">
          {% for href, title in bag('nav').iteritems() %}
              <li><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
  </nav>
  </header>
  <div id="content">
    {% block body %}{% endblock %}
  </div>
  <div id="footer">
    | (• ◡•)| <a target="blank" href="https://github.com/alexjj/homepage" title="Source" style="color:red">♥</a> (❍ᴥ❍ʋ)<small>
  </div>
</body>
