{% extends "layout.html" %}
{% block extrahead %}
<meta property="og:title" content="{{ this.title }}" />
<meta property="og:url" content="{{ this.url }}" />
{% endblock %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <h1>{{ this.title }}</h1>
    {% if this.vegetarian %}
    <i>Vegetarian</i>
    {% endif %}
    <p><small>
    Serves {{ this.servings }}. Cooked by {{ this.author }}.
    </small></p>
      {% set image = this.attachments.images.first() %}
      {% if image %}
        <img src="{{ image|url }}" alt="">
      {% endif %}
    <h2>Ingredients:</h2>
    {{ this.ingredients }}
    <h2>Instructions</h2>
    {{ this.body }}
{% endblock %}
