---
layout: default
---

{% for post in site.posts limit:14 %}
<article>
    <header>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </h2></a>
        <p>📅  {{ post.date | date_to_string: "ordinal" }}
          ⏱
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %}
              1 min
            {% else %}
              {{ words | divided_by:180 }} mins
            {% endif %}
             👓 {{ post.content | number_of_words | append: " words."}}
             {% if post.tags %} 🏷️
             {% for tag in post.tags %}
               <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}">{{ tag }}</a>{% if forloop.last %}{% else %},{% endif %}
             {% endfor %}
           {% endif %}
        </p>
    </header>
    {{ post.content }}
</article>
{% endfor %}
<hr>
<p style="text-align: center">👉Check out the rest of the posts in the <a href="{% link _pages/archive.html %}">Archive</a>👈</p>
