---
layout: default
---

{% for post in site.posts limit:14 %}
<article>
    <header>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
        </h2></a>
        <p>⏱
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %}
              1 min
            {% else %}
              {{ words | divided_by:180 }} mins
            {% endif %}
             👓 {{ post.content | number_of_words | append: " words."}}
        </p>
    </header>
    {{ post.content }}
</article>
<p style="text-align: center">Check out the rest of the posts in the <a href="{% link _pages/archive.html %}">archive.</a></p>
{% endfor %}
